::ng-deep table {
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #334663;
    min-width: 850px;
  max-width: 1000px;
  }
  
::ng-deep td,th{
    text-align: center;
}
::ng-deep .p-datatable{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    border: 3px solid #334663;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    background-color: #1b1b1b;
}

.action-buttons{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}