.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
}
  
.field label {
    margin-bottom: 0.5rem;
}

h1{
    text-align: center;
}


small {
    color: red;
}

p-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::ng-deep .p-card-body {
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #334663;
  }
  
::ng-deep .p-card{
    margin-top: 40px;
}

.labelAndErrorsRight{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;

}

.labelAndErrorsLeft{
    display: flex;
    flex-direction: row;
    gap: 2rem;

}