<p-card header="{{id==''?'Crear Empleado':'Modificar Empleado'}}" [style]="{'width': '40rem'}">

<form class="form" [formGroup]="formGroup">

    <div class="field">
      <div class="labelAndErrorsRight">
        <label for="name">Nombre</label>
        <div *ngIf="formGroup.get('name')?.invalid && (formGroup.get('name')?.dirty || formGroup.get('name')?.touched)" class="error-message">
          <small *ngIf="formGroup.get('name')?.errors?.['required']">El campo nombre es obligatorio</small>
        </div>
      </div>
        <input type="text" pInputText id="name" placeholder="Nombre" formControlName="name" />
        
      </div>
    
      <div class="field">
        <div class="labelAndErrorsRight">
          <label for="lastName">Apellidos</label>
          <div *ngIf="formGroup.get('lastName')?.invalid && (formGroup.get('lastName')?.dirty || formGroup.get('lastName')?.touched)" class="error-message">
            <small *ngIf="formGroup.get('lastName')?.errors?.['required']">El campo apellidos es obligatorio</small>
          </div>
        </div>
        <input type="text" pInputText id="lastName" placeholder="Apellidos" formControlName="lastName" /> 
      </div>
    
      <div class="field">
        <div class="labelAndErrorsRight">
        <label for="email">Email</label>
        <div *ngIf="formGroup.get('email')?.invalid && (formGroup.get('email')?.dirty || formGroup.get('email')?.touched)" class="error-message">
          <small *ngIf="formGroup.get('email')?.errors?.['required']">El campo email es obligatorio</small>
          <small *ngIf="formGroup.get('email')?.errors?.['email']">El email no es válido</small>
        </div>
        </div>
        <input type="text" pInputText id="email" placeholder="Email" formControlName="email" />
        
      </div>
    
      <div class="field">
        <div class="labelAndErrorsRight">
          <label for="salary">Salario (€)</label>
          <div *ngIf="formGroup.get('salary')?.invalid && (formGroup.get('salary')?.dirty || formGroup.get('salary')?.touched)" class="error-message">
            <small *ngIf="formGroup.get('salary')?.errors?.['required']">El campo salario es obligatorio</small>
            <small *ngIf="formGroup.get('salary')?.errors?.['min']">El salario debe ser mayor o igual a 0</small>
          </div>
        </div>
        <input type="number" pInputText id="salary" placeholder="Salario" formControlName="salary" />
        
      </div>
    
      <div class="field">
        <div class="labelAndErrorsLeft">
          <label for="date">Fecha de Nacimiento</label>
          <div *ngIf="formGroup.get('date')?.invalid && (formGroup.get('date')?.dirty || formGroup.get('date')?.touched)" class="error-message">
            <small *ngIf="formGroup.get('date')?.errors?.['required']">La fecha de nacimiento es obligatoria</small>
            <small *ngIf="formGroup.get('date')?.errors?.['dateNotBeforeToday']">La fecha de nacimiento debe ser anterior a hoy</small>
          </div>
        </div>
        <p-calendar id="date" formControlName="date" dateFormat="dd/mm/yy" />
      </div>
    
      <div class="field">
        <div class="labelAndErrorsLeft">
          <label for="active">Activo</label>
          <div *ngIf="formGroup.get('active')?.invalid && (formGroup.get('active')?.dirty || formGroup.get('active')?.touched)" class="error-message">
            <small *ngIf="formGroup.get('active')?.errors?.['required']">Escoja una opción</small>
          </div>
        </div>
        <p-selectButton id="active" [options]="activeOptions" formControlName="active" optionLabel="label" optionValue="value" />
        
      </div>
      <div class="buttons">
        <p-button *ngIf="id==''" (onClick)="createEmployee()">Crear</p-button>
        <p-button *ngIf="id!=''" (onClick)="modifyEmployee()">Modificar</p-button>
    </div>
</form>

</p-card>