/* You can add global styles to this file, and also import other style files */
html{
    background-color: rgb(48, 48, 48);
    background-image: url('assets/fondo2.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  
}